
useDynLib("misaR", .registration = TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)

importFrom("stats", "cor", "dist", "na.omit")
importFrom("RMySQL", "MySQL")

export(inSourceAnnotation)
